main {
    gap: 3rem;
    justify-content: flex-start;
}

main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main ul li::before {
    content: "✓  ";
    color: var(--primary);
    font-weight: 700;
}
