main {
    gap: 3rem;
    justify-content: flex-start;
}

main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main ul li::before {
    content: "✓  ";
    color: var(--primary);
    font-weight: 700;
}

main section img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: var(--radius-medium);
    margin-top: 1rem;
}
